<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Accela SDK For Android"
            id="AccelaSDKWizard">
      </category>
      <wizard
            canFinishEarly="false"
            category="AccelaSDKWizard"
            class="com.accela.eclipse.wizard.AccelaMobileWizard"
            description="This wizard allows you to define parameters for the Accela Agency App template project to be created."
            icon="icons/agency_app_logo.png"
            id="AgencyApp"
            name="Agency App Wizard"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="AccelaSDKWizard"
            class="com.accela.eclipse.wizard.AccelaMobileWizard"
            description="This wizard allows you to define parameters for the Accela Citizen App template project to be created."
            icon="icons/citizen_app_logo.png"
            id="CitizenApp"
            name="Citizen App Wizard"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="AccelaSDKWizard"
            class="com.accela.eclipse.wizard.AccelaMobileWizard"
            description="This wizard allows you to define parameters for the Accela A311 App template project to be created."
            icon="icons/a311_app_logo.png"
            id="A311App"
            name="A311 App Wizard"
            project="true">
      </wizard>
   </extension>

</plugin>
